<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :Title %></strong>
    <%= form.text_field :title, class: "text-field" %>
  </div>

  <div class="field">
    <strong><%= form.label :Content %></strong>
    <%= form.text_area :content, class: "text-field" %>
  </div>

  <div class="field">
    <strong><%= form.label :Deadline %><br></strong>
    <%= form.datetime_select :deadline %>
  </div>

  <div class="field">
    <strong><%= form.label :Status %></strong>
    <%= form.radio_button :status, Task.statuses[:waiting] %>
    <%= form.label "未対応" %>
    <%= form.radio_button :status, Task.statuses[:doing] %>
    <%= form.label "対応中" %>
    <% if local_assigns[:edit] %>
      <%= form.radio_button :status, Task.statuses[:done] %>
      <%= form.label "完了" %>
    <% end %>
  </div>

  <div class="actions">
    <% if local_assigns[:edit] %>
      <%= form.submit '更新する', class: "btn btn-success" %>
      <%= link_to '一覧へ戻る', tasks_path, class: "btn btn-outline-secondary" %>
    <% else %>
      <%= form.submit '登録する', class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>
