<h1>アサイン</h1>

<%= form_for @task, url: { action: 'update_assignment' } do |f| %>
  <div>
    <span>現在アサインされているユーザ</span><br>
    <span><%= @task.user_id.nil? ? "誰にもアサインされていません" : @task.user_id %></span>
  </div>

  <div>
    <span>新しくアサインするユーザ</span><br>
    <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>

  <%= f.submit 'アサインする', class: "btn btn-success" %>
<% end %>

<%= render 'task_detail' %>
