<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <a href="/", id="header-title" >タスク管理アプリ</a>
  <%= link_to 'マイタスク', tasks_mine_path, class: "header-col" %>
  <%= link_to 'タスク一覧', tasks_path, class: "header-col" %>
  <%= link_to 'ユーザ設定', edit_user_registration_path, class: "header-col" %>
  <% if user_signed_in? %>
    <%= link_to 'サインアウト', destroy_user_session_path, method: :delete, data: { confirm: "サインアウトしてもよろしいですか？" }, class: "sign-in-out-col" %>
  <% else %>
    <%= link_to 'サインイン', new_user_session_path, class: "sign-in-out-col" %>
  <% end %>
  <% if user_signed_in? %>
    <span class="welcome-msg">ようこそ<%= current_user.name.nil? ? current_user.email : current_user.name %>さん</span>
  <% end %>
</header>

<body>
<div class="whole-site">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
